# 광복

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('excel/AQMS_광복.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation,humidity
8760,NaN,2015,1,1,1,0.3,0.006,19.0,11.0,NaN,320.0,3.8,NaN,NaN
8761,NaN,2015,1,1,2,0.3,0.006,21.0,12.0,-0.5,320.0,3.2,NaN,42.0
8762,NaN,2015,1,1,3,0.3,0.005,19.0,12.0,-0.8,270.0,6.8,NaN,43.0
8763,NaN,2015,1,1,4,0.3,0.004,22.0,11.0,-1.5,320.0,4.1,NaN,43.0
8764,NaN,2015,1,1,5,0.3,0.004,26.0,10.0,-2.1,320.0,5.9,NaN,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.4,0.012,16.0,8.0,-0.7,290.0,1.9,NaN,22.0
52580,NaN,2019,12,31,21,0.3,0.010,11.0,6.0,-1.0,90.0,1.4,NaN,21.0
52581,NaN,2019,12,31,22,0.3,0.011,7.0,4.0,-1.4,340.0,3.0,NaN,21.0
52582,NaN,2019,12,31,23,0.3,0.010,4.0,2.0,-1.9,320.0,1.5,NaN,24.0
52583,NaN,2019,12,31,24,0.3,0.008,7.0,2.0,-2.3,320.0,2.1,NaN,24.0

In [59]:
# df = df.loc[df['PM10']>0]
df['PM10'].isnull().sum()

0

In [4]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['year']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['year']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝

In [5]:
solution(df)

0.43805214102392337
0.13264233756769045
0.1
1.3
0.5008363054975083
0.14478822517865156
0.2
1.5
0.4126878920582787
0.12489572258980554
0.1
1.3
0.3948355692746409
0.10211800442510699
0.2
1.0
0.45225992087282524
0.11287070577438338
0.2
1.2

0.02762420640280948
0.014332893931375903
0.001
0.10800000000000001
0.025283851924732224
0.012962311105481586
0.001
0.085
0.023813587406793384
0.011979145587097902
0.003
0.083
0.02369844473465507
0.013736399761828617
0.002
0.109
0.01783898813091971
0.010639395374739822
0.002
0.092

49.80521410239092
29.17481045031156
3.0
352.0
43.214241790677654
26.02378699657993
3.0
299.0
41.74198129956208
22.284276031375697
2.0
278.0
41.923661403300486
25.25607138971805
4.0
331.0
38.579426927226955
22.22510902520707
2.0
169.0

30.617317303795758
16.065224643393538
2.0
107.0
29.08461443856844
17.317709104215773
2.0
125.0
25.347851816783052
15.07337900660982
1.0
102.0
24.531877003442954
15.101521368393817
1.0
104.0
22.979019302241937
14.883815942953882
2.0
119.0

# Gwangbok AQMS NON/OP

In [4]:
df = pd.read_csv('excel/AQMS_광복.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]
df = df.apply(pd.to_numeric, errors = 'coerce')

df_non = df.loc[((df['시']<5))]
df_non

df_op = df.loc[((df['시']>=5))]
df_op

def preprocessing(df,df2):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df2 = df2.apply(pd.to_numeric, errors = 'coerce')
    
    for element in ['CO',"NO₂",'PM10','PM2.5']:
        for year in [2015, 2016, 2017,2018,2019]:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].mean()) # 평균
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].std())  # 표준편차
        print()
        
preprocessing(df_non,df_op)

0.406796116504854
0.1323816902263464
0.43501045296169033
0.12830812064857774
0.4649315068493109
0.13080782683173756
0.5057308970099897
0.14468417239501238
0.3721074380165279
0.10605497462531822
0.4193373242378207
0.1270249766931415
0.3679945054945033
0.09433632876636755
0.3989965156794714
0.10315133168258561
0.42273351648351076
0.10770176655229508
0.4567916666666921
0.11246019962419025

0.01944575799721839
0.012866675386717347
0.02812711745765065
0.013917530116587622
0.01892334739803096
0.011968662014598518
0.02651481218993616
0.012640467921634946
0.017753443526170753
0.010400979808002938
0.024925797020743313
0.011850910908617071
0.017853760445682456
0.012231771325185617
0.024872424499012363
0.013740783383098804
0.013693905817174513
0.00931710944036634
0.01860207079893703
0.010642567558716344

44.78237129485179
28.51232366493161
50.53432835820895
29.366979893303732
39.432072829131656
23.19262761133737
44.25510783200908
26.97185230602864
37.168632893823734
20.887496628877923
42.45552749719416
22.442192713300592
37.916550764951324
22.802592761962714
42.92804350857621
25.711853765367884
33.481818181818184
19.520584087828183
39.55957387160078
22.447047152182954

27.195621468926554
16.332516783699596
29.81168277430358
16.266156386586434
26.92340126493324
16.688649020959744
29.624628028907466
17.254007387423208
22.55126404494382
14.747875431508843
25.88829412593323
15.054126151288377
21.79532967032967
14.640409366559835
25.052449965493444
15.165596459996321
18.654140570633263
13.598887485823711
23.809823677581864
14.914623134961177

# 온천

In [7]:
df = pd.read_csv('excel/AQMS_온천.csv')
df =df.loc[(df['년']<2020)&(df['년']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,년,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.3,0.006,32.0,7.0,-0.8,300.9,1.6,0.0
8761,NaN,2015,1,1,2,0.2,0.003,29.0,8.0,-1.3,320.5,1.7,0.0
8762,NaN,2015,1,1,3,0.1,0.006,24.0,8.0,-1.8,284.8,0.9,0.0
8763,NaN,2015,1,1,4,0.2,0.010,28.0,8.0,-1.8,278.6,2.2,0.0
8764,NaN,2015,1,1,5,0.2,0.001,30.0,9.0,-2.2,261.5,1.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.4,0.032,19.0,9.0,4.5,242.4,1.1,0.0
52580,NaN,2019,12,31,21,0.3,0.026,23.0,18.0,3.7,182.0,1.2,0.0
52581,NaN,2019,12,31,22,0.3,0.025,11.0,9.0,3.7,193.8,1.7,0.0
52582,NaN,2019,12,31,23,0.3,0.021,14.0,8.0,2.4,70.0,1.1,0.0
52583,NaN,2019,12,31,24,0.3,0.016,12.0,8.0,2.4,240.2,0.7,0.0

In [9]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['년']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['년']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['년']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['년']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝
                  
solution(df)

0.6379493402093047
0.29872937712656883
0.1
2.5
0.6131650669510651
0.18807395713311806
0.1
2.1
0.4941519771319851
0.17555251402055966
0.1
1.4
0.49758373205742107
0.14105340510666317
0.2
1.5
0.5014854357665347
0.15380540739906642
0.2
1.5

0.02128393750947986
0.02144350951384508
0.001
0.244
0.03544175850219198
0.018098166397782382
0.001
0.15
0.03962934730824174
0.017447119214615694
0.006
0.14
0.033600478468898944
0.016045677404806797
0.001
0.165
0.03510340025530868
0.016684336746230433
0.002
0.115

58.98407401789777
30.080609056791786
11.0
293.0
52.06600308093376
23.692643185380025
9.0
280.0
44.819795140543114
21.539753267427024
3.0
244.0
40.826076555023924
25.684813958051123
2.0
363.0
37.74271788325403
22.854314869728906
2.0
231.0

27.993022903079023
15.700104348552962
3.0
122.0
24.619741675553975
13.179746069306223
3.0
98.0
23.363863744640305
13.608905556798284
1.0
94.0
21.10311004784689
13.300825742903513
1.0
91.0
22.22211906696066
13.486241071852595
2.0
119.0

# Oncheon AQMS OP/NON

In [5]:
df = pd.read_csv('excel/AQMS_온천.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]
df = df.apply(pd.to_numeric, errors = 'coerce')

df_non = df.loc[((df['시']<5))]
df_non

df_op = df.loc[((df['시']>=5))]
df_op

def preprocessing(df,df2):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df2 = df2.apply(pd.to_numeric, errors = 'coerce')
    
    for element in ['CO',"NO₂",'PM10','PM2.5']:
        for year in [2015, 2016, 2017,2018,2019]:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].mean()) # 평균
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].std())  # 표준편차
        print()
        
preprocessing(df_non,df_op)

0.5407017543859653
0.23773169987937584
0.6556969263759763
0.2867287812171049
0.5737603305785115
0.19019788852347594
0.6249233769852258
0.18720802648410134
0.43816155988857636
0.15867207328917646
0.5058098342071856
0.1763761074867208
0.4658640226628878
0.13728832270932467
0.5041038886497399
0.14093475295403685
0.4727397260273926
0.1526441410190739
0.5066537557062079
0.15308574552491108

0.01286051829268288
0.009442082265255941
0.023118471730087846
0.021645020619126112
0.021253668763102643
0.011144345935090805
0.03825849668593982
0.017906406003510983
0.023648891966758928
0.010428218428339188
0.04289809187279123
0.01676586899189797
0.021371104815864055
0.01122861905804696
0.03608566508824747
0.015736947911060725
0.02083356164383562
0.011649218321914068
0.03792596180459405
0.016060548881955305

50.75673595073133
26.090796902746426
59.91608715808994
30.41017745149929
45.56887052341598
19.227287082095735
53.53465070971333
24.265086338760465
38.50349162011173
18.698385423070597
46.159914712153515
21.86262943508554
34.53328611898017
21.047841888398946
42.16410256410256
26.328405193861272
30.486616334934798
17.816871962376453
39.25340862140201
23.475125244670703

26.69943820224719
15.748447693150448
27.85001421666193
15.491496339499031
23.744089012517385
12.995846045733346
25.0458304134548
13.351305592013341
22.342837273991655
13.595559398865268
23.566439522998298
13.598938340764532
20.24485450674237
13.006677841112298
21.285449886104782
13.331877357026272
21.090971743625087
13.04628343773892
22.42129948958477
13.550073471443376

# 전포

In [13]:
df = pd.read_csv('excel/AQMS_전포.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.1,0.007,34.0,11.0,-4.1,270.8,3.2,0.0
8761,NaN,2015,1,1,2,0.1,0.007,25.0,9.0,-4.6,273.6,4.0,0.0
8762,NaN,2015,1,1,3,0.2,0.007,32.0,8.0,-5.0,270.5,4.5,0.0
8763,NaN,2015,1,1,4,0.2,0.006,41.0,7.0,-5.3,263.4,3.7,0.0
8764,NaN,2015,1,1,5,0.2,0.007,43.0,10.0,-4.4,269.5,4.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.3,0.017,9.0,12.0,1.7,0.0,0.4,0.0
52580,NaN,2019,12,31,21,0.3,0.020,9.0,9.0,0.8,0.0,0.1,0.0
52581,NaN,2019,12,31,22,0.3,0.021,13.0,10.0,0.5,0.0,0.2,0.0
52582,NaN,2019,12,31,23,0.3,0.021,15.0,14.0,0.3,0.0,0.2,0.0
52583,NaN,2019,12,31,24,0.3,0.015,14.0,13.0,1.0,277.9,1.2,0.0

In [14]:
def solution(df):
    
    elements = ['CO',"NO₂",'PM10','PM2.5']
    years = [2015,2016,2017,2018,2019]

    df = df.loc[(df['CO']>0)&(df['PM10']>0)&(df['PM2.5']>0)&(df['NO₂']>0)]
    for element in elements:
        print()
        for year in years:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df[element].loc[(df['year']==year) & (df[element]>0)].min())  # 최소값
            print(df[element].loc[(df['year']==year) & (df[element]>0)].max())  # 최대값
            
#             print(np.round_(df[element].loc[(df['year']==year) & (df[element]>0)].max(),1))  # 최대값

            
            
# NO2는 1000배 해주어야 한다. 어떻게 처리할지 생각해볼것
# 이거 해결하면 엑셀에 복붙 뚝딱 끝
                  
solution(df)

0.2777081109925321
0.11982031540980173
0.1
1.1
0.3522005036575327
0.12368139763762845
0.1
1.2
0.31560392759968553
0.10405402981335078
0.1
1.0
0.30983759785022214
0.10224842830818962
0.1
1.0
0.33384394447105337
0.11617736110972936
0.1
1.6

0.023850987193169724
0.013076857796601135
0.002
0.10400000000000001
0.025220649958027933
0.014409834149980661
0.002
0.099
0.025880160889624696
0.015506763874563859
0.003
0.107
0.02166748451921935
0.013084154517289729
0.003
0.094
0.022952130205840058
0.012953883363877781
0.002
0.11199999999999999

50.075640341515474
27.034063240790438
7.0
290.0
39.687252668185636
23.344321503976232
3.0
269.0
43.83201230332426
24.381549279645043
6.0
298.0
43.10877438953149
27.644320004171284
2.0
336.0
40.3334131163236
25.462968995637212
2.0
252.0

27.5042689434365
16.895321335837426
1.0
144.0
27.3061518167646
15.417424461377575
2.0
119.0
25.337868212468948
15.137018340122275
1.0
103.0
22.705923589204346
15.82103259615965
2.0
107.0
18.62218764959311
14.319531494270715
2.0
108.0

# Jeonpo AQMS OP/NON

In [7]:
df = pd.read_csv('excel/AQMS_전포.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]
df = df.apply(pd.to_numeric, errors = 'coerce')

df_non = df.loc[((df['시']<5))]
df_non

df_op = df.loc[((df['시']>=5))]
df_op

def preprocessing(df,df2):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df2 = df2.apply(pd.to_numeric, errors = 'coerce')
    
    for element in ['CO',"NO₂",'PM10','PM2.5']:
        for year in [2015, 2016, 2017,2018,2019]:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].mean()) # 평균
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].std())  # 표준편차
        print()
        
preprocessing(df_non,df_op)

0.28585164835164634
0.12214729420587699
0.28093784683685263
0.11557066387360546
0.35240083507306774
0.12305369754058851
0.35153262092239274
0.12444408484698545
0.3190575190575192
0.11087196394796915
0.31435386558159834
0.1021668133663656
0.30885989010988985
0.10820531399945275
0.3103650041794349
0.10083173938229718
0.3319886765746642
0.11438377768242253
0.33444969228567517
0.11648907670231844

0.019020661157024832
0.012037197693041821
0.0244608429545139
0.013009597006007593
0.020185287994448266
0.012948442852153038
0.026388849978988178
0.014523343556138739
0.02098891966759001
0.014946794591080125
0.02680518934081342
0.015417336475259242
0.018153581267217642
0.01306224169437599
0.02240747976555966
0.01296208523908215
0.01922592067988669
0.013040169398161721
0.02369690011481072
0.012805788110649268

47.53616352201258
26.090177340164168
50.675409314894296
27.35799638038723
37.09487534626039
21.192056496315058
40.372262773722625
23.810186848724623
40.3625
23.139405529436775
44.47123519458545
24.537921552783203
40.1553264604811
25.201756671975485
43.86787493082457
28.11729179289078
36.288841807909606
23.137854863914658
41.18066988362191
25.795909709376456

27.439583333333335
17.39778535325844
27.160134850400336
16.625637902528545
27.2043085476025
15.447833460199233
27.418772053634438
15.61438234762452
25.281424581005588
15.451273377376639
25.35782024062279
15.05135334790804
22.466528640441684
15.858765171405471
22.8721429560881
15.901413279918017
17.973833097595474
14.056755643128414
18.787315550510783
14.392411369852383

# 학장

In [15]:
df = pd.read_csv('excel/AQMS_학장.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

,측정소,year,월,일,시,CO,NO₂,PM10,PM2.5,Temp,direction(wind),speed(wind),Precipitation
8760,NaN,2015,1,1,1,0.2,0.004,16.0,16.0,NaN,3.7,NaN,NaN
8761,NaN,2015,1,1,2,0.2,0.004,18.0,18.0,NaN,3.5,NaN,NaN
8762,NaN,2015,1,1,3,0.2,0.004,19.0,32.0,NaN,4.4,NaN,NaN
8763,NaN,2015,1,1,4,0.2,0.003,17.0,12.0,NaN,4.5,NaN,NaN
8764,NaN,2015,1,1,5,0.2,0.004,27.0,14.0,NaN,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,NaN,2019,12,31,20,0.3,0.016,17.0,11.0,NaN,1.2,NaN,NaN
52580,NaN,2019,12,31,21,0.3,0.012,20.0,12.0,NaN,1.0,NaN,NaN
52581,NaN,2019,12,31,22,0.3,0.014,13.0,9.0,NaN,0.9,NaN,NaN
52582,NaN,2019,12,31,23,0.3,0.019,15.0,7.0,NaN,1.2,NaN,NaN
52583,NaN,2019,12,31,24,0.3,0.011,18.0,9.0,NaN,1.7,NaN,NaN

In [16]:
solution(df)

0.3732899022801343
0.13788501768074216
0.1
1.6
0.2858734764944989
0.08986924051727664
0.1
0.9
0.27706300445729454
0.10265910135102663
0.1
1.0
0.27433524657375097
0.10622982885011172
0.1
1.2
0.3447654696455952
0.09103358996774183
0.1
0.9

0.021101791530944967
0.016384329952714938
0.001
0.11900000000000001
0.028291932675565488
0.014180790568316106
0.004
0.106
0.024519575954704047
0.01392219372734113
0.001
0.09699999999999999
0.022014407871617597
0.011591306710818407
0.002
0.11199999999999999
0.021086559831559226
0.010788973955967186
0.003
0.111

53.595548317046685
27.89688670872076
5.0
303.0
50.75414973882763
28.87307856051226
3.0
380.0
50.8283339356704
27.514969366874386
6.0
290.0
47.36710788333138
29.316290328402637
2.0
318.0
43.15814715171365
24.845592857622755
2.0
244.0

33.30184581976113
17.442891731464474
2.0
142.0
31.00591990713871
16.850579693226194
3.0
141.0
29.850499939766294
16.786962347920827
1.0
162.0
26.498652922572333
16.51052685451411
1.0
158.0
27.037431278512106
16.868639798630184
2.0
136.0

# Hakjang AQMS OP/NON

In [8]:
df = pd.read_csv('excel/AQMS_학장.csv')
df =df.loc[(df['year']<2020)&(df['year']>2014)]
df = df.apply(pd.to_numeric, errors = 'coerce')

df_non = df.loc[((df['시']<5))]
df_non

df_op = df.loc[((df['시']>=5))]
df_op

def preprocessing(df,df2):
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df2 = df2.apply(pd.to_numeric, errors = 'coerce')
    
    for element in ['CO',"NO₂",'PM10','PM2.5']:
        for year in [2015, 2016, 2017,2018,2019]:
            print(df[element].loc[(df['year']==year) & (df[element]>0)].mean()) # 평균
            print(df[element].loc[(df['year']==year) & (df[element]>0)].std())  # 표준편차
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].mean()) # 평균
            print(df2[element].loc[(df2['year']==year) & (df2[element]>0)].std())  # 표준편차
        print()
        
preprocessing(df_non,df_op)

0.34978693181818304
0.1390390824153746
0.3633214030064452
0.13867259739531315
0.27452054794520503
0.08882819662202451
0.28791816422449756
0.08972055758503417
0.26726519337016436
0.09818100347924813
0.27924449400613127
0.10335208823035048
0.26513698630136745
0.10600694625532474
0.2762721238938144
0.10577848626527435
0.3355371900826454
0.08897254469207849
0.3465184155663727
0.0910357159148809

0.01749466950959483
0.013362856687427852
0.022077055531640466
0.016371352588846536
0.02234589041095891
0.012916357836284363
0.02943771602377982
0.014086029680932644
0.019864583333333352
0.012657365078195525
0.025465722697322286
0.013905593021305623
0.018301369863013697
0.01096687633118561
0.0228564513898494
0.011535278718932817
0.018092286501377366
0.01040819647350221
0.02164029477196913
0.01074173394217271

45.45866454689984
24.172549151943663
55.196989109545164
28.291195649966717
42.268595041322314
22.55926031600845
52.503742722484056
29.724334004618594
43.061624649859944
23.42912760526833
52.4746583143508
28.044937316160023
40.05968077723803
23.72678496173162
48.922007507298765
30.0811177285732
36.22955326460481
20.584334016047137
44.54782249173098
25.3112762170275

30.82041998551774
17.082440008238816
32.71204572098476
17.297930624924305
28.903846153846153
15.839411858235234
31.368952170306883
16.975646655731886
28.473537604456826
16.431803835928005
30.470431614349774
16.86992057456408
24.663172606568832
15.61637228533253
26.8817085009014
16.614325058096682
25.036652835408024
15.638720852294862
27.45225851285615
17.05485251395895

# 결측율 함수

In [40]:

# def missing_rate(df):
# df.loc[df['CO'].isnull()].shape[0]
#1. 결측값
df['CO'].isnull().sum()

#2. 0값 => 이전 전처리에서 이미 없애버렸네; => 파일 새로 import해서 함수 다시 짜자.
(df['CO'] == 0).sum()

0

In [20]:
df.shape[0]

43824

In [65]:
def missing_rate(df):
    elements = ['CO',"NO₂",'PM10','PM2.5']
    df = df.apply(pd.to_numeric, errors = 'coerce')
    df =df.loc[(df['year']<2020)&(df['year']>2014)]
    for element in elements:
        print(((df[element] == 0).sum() + (df[element].isnull().sum()))/df.shape[0])
        
# missing_rate(df)

# 동별 결측율
(pd.to_numeric 과정을 거쳐야한다. 문자열이 끼어 있기 때문에)
=> 문자열이 끼어있기 때문에 위 과정을 거치지 않으면 결측율이 0으로 나온다

In [66]:
df = pd.read_csv('excel/AQMS_광복.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_온천.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_전포.csv')
missing_rate(df)

df = pd.read_csv('excel/AQMS_학장.csv')
missing_rate(df)

0.013713946695874406
0.02322928075940124
0.04470153340635268
0.024758123402701716
0.027633260313983207
0.043651880248265794
0.04105056589996349
0.026880248265790434
0.022978276743336985
0.023525921869295363
0.04600219058050383
0.02541986126323476
0.017707192405987587
0.019327309236947792
0.04241967871485944
0.02450711938663746