In [1]:
import pandas as pd
df = pd.read_csv('excel/AQMS_PM10.csv')
df =df.loc[(df['년']<2020)&(df['년']>2014)]

df = df.apply(pd.to_numeric, errors = 'coerce')
df

          년   월   일   시  Gwang-bok  On-cheon  Jeon-po  Hak-Jang
8760   2015   1   1   1       19.0      32.0     34.0      16.0
8761   2015   1   1   2       21.0      29.0     25.0      18.0
8762   2015   1   1   3       19.0      24.0     32.0      19.0
8763   2015   1   1   4       22.0      28.0     41.0      17.0
8764   2015   1   1   5       26.0      30.0     43.0      27.0
...     ...  ..  ..  ..        ...       ...      ...       ...
52579  2019  12  31  20       16.0      19.0      9.0      17.0
52580  2019  12  31  21       11.0      23.0      9.0      20.0
52581  2019  12  31  22        7.0      11.0     13.0      13.0
52582  2019  12  31  23        4.0      14.0     15.0      15.0
52583  2019  12  31  24        7.0      12.0     14.0      18.0

[43824 rows x 8 columns]

In [2]:
df = df.loc[df['Gwang-bok']>0]
print(df['Gwang-bok'].mean())
print(df['Gwang-bok'].std())

42.89793383494566
25.37892690791804

In [3]:
df = df.loc[df['Jeon-po']>0]
print(df['Jeon-po'].mean())
print(df['Jeon-po'].std())

43.407328441094805
25.96335566151295

In [4]:
df = df.loc[df['Hak-Jang']>0]
print(df['Hak-Jang'].mean())
print(df['Hak-Jang'].std())

49.226966873706004
28.215999731862894

In [5]:
df = df.loc[df['On-cheon']>0]
print(df['On-cheon'].mean())
print(df['On-cheon'].std())

46.7583340038083
26.32733273528189